<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Library</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link href="../static/css/main.css" rel="stylesheet" />
        <!-- script for search function -->
        <script>
            function myFunction() {
              // Declare variables
              var input, filter, table, tr, td, i, txtValue;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              table = document.getElementById("myTable");
              tr = table.getElementsByTagName("tr");
            
              // Loop through all table rows, and hide those who don't match the search query
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
            }
        </script>
    </head>
    <body>
        <h1>Books</h1>
        <p>Select book to proceed to book checkout</p>
        <!-- search function for available books -->
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
        <table id ="myTable" class="table table-hover">
            <thead>
            <tr>
            <th>{{dbcols[1]}}</th><th>{{dbcols[2]}}</th>
            </tr>
            </thead>
        {# this is a comment: TO BE ADDED LATER #}
        <tbody>
        {% for result in dbresult %}
        <tr>
            <td><a href="/staff/book?bookid={{result[0]}}">{{result[1]}}</a></td><td>{{result[2]}}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        <a href='/staff' role="button" class="btn btn-secondary">Back</a>
    </body>
</html>