<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Library</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link href="../static/css/main.css" rel="stylesheet" />
    </head>
    <body>
        <h1>Library Staff Menu</h1>
        <!-- Main staff interface -->
        <a href='/staff/book' role="button" class="btn btn-primary">View & Checkout Books</a>
        <a href='/staff/borrower' role="button" class="btn btn-primary">View Borrower & Returns</a>
        <a href='/staff/overdue' role="button" class="btn btn-primary">View Overdue Books</a>
        <a href='/' role="button" class="btn btn-secondary">Back</a>
    </body>
</html>